In [2]:
!pip install pandas

import pandas as pd

# Leer el CSV limpio
df_residuos_tox = pd.read_csv('../data/processed/clean_data_residuos_tox_mex.csv')

# Ver las primeras filas del DataFrame
df_residuos_tox.head()

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\zaire\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\zaire\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\zaire\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zaire\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\zaire\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\zaire\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\zaire\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

,id_ent_fed,ent_fed,anio,subsector,categoria_generador,categoria_residuo,type_residuo,generacion_estimada_ton_anio
0,1,aguascalientes,2017,petrolero,microgenerador,"gasolina, diesel y naftas gastados o sucios pr...",pequeño generador,1.22
1,1,aguascalientes,2017,petrolero,microgenerador,"gasolina, diesel y naftas gastados o sucios pr...","mezclas de combustibles sucios, mezclas de hid...",0.04
2,1,aguascalientes,2017,petrolero,microgenerador,liquidos de proceso,"agua contaminada con hidrocarburos, combustibl...",0.09
3,1,aguascalientes,2017,petrolero,microgenerador,lodos aceitosos,"con contaminacion de hidrocarburos, combustibl...",1.08
4,1,aguascalientes,2017,petrolero,microgenerador,residuos solidos,"estopa, trapo, plasticos, carton, madera, broc...",3.12

In [3]:
df_residuos_tox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4859 entries, 0 to 4858
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_ent_fed                    4859 non-null   int64
 1   ent_fed                       4859 non-null   object
 2   anio                          4859 non-null   int64
 3   subsector                     4859 non-null   object
 4   categoria_generador           4859 non-null   object
 5   categoria_residuo             4859 non-null   object
 6   type_residuo                  4859 non-null   object
 7   generacion_estimada_ton_anio  4859 non-null   float64
dtypes: float64(1), int64(2), object(5)
memory usage: 303.8+ KB

In [4]:
df_residuos_tox.describe()

        id_ent_fed         anio  generacion_estimada_ton_anio
count  4859.000000  4859.000000                  4.859000e+03
mean     18.357275  2019.295122                  1.312404e+04
std       8.982667     1.797189                  1.676845e+05
min       1.000000  2017.000000                  0.000000e+00
25%      11.000000  2018.000000                  1.500000e-02
50%      19.000000  2019.000000                  2.100000e-01
75%      27.000000  2021.000000                  1.512500e+00
max      32.000000  2022.000000                  5.557166e+06

In [5]:
#Agrupar por entidades estados mayores generadores de resuidos (columna generacion_estimada_ton_anio) con el método groupby
df_residuos_tox_grouped_mayor = df_residuos_tox.groupby('ent_fed').agg({'generacion_estimada_ton_anio': 'sum'}).reset_index()
# Ordenar de mayor a menor
df_residuos_tox_grouped_mayor = df_residuos_tox_grouped_mayor.sort_values(by='generacion_estimada_ton_anio', ascending=False)
# reindexar el índice desde 1
df_residuos_tox_grouped_mayor.index = range(1, len(df_residuos_tox_grouped_mayor) + 1)
# Cambiar el nombre de la columna para que sea más descriptivo
df_residuos_tox_grouped_mayor.rename(columns={'generacion_estimada_ton_anio': 'generacion_estimada_ton_2017_2022_total'}, inplace=True)
# Mostrar el DataFrame agrupado y ordenado
df_residuos_tox_grouped_mayor.to_csv('../data/processed/df_residuos_tox_grouped_mayor.csv', index=False)
df_residuos_tox_grouped_mayor.head(10)

                            ent_fed  generacion_estimada_ton_2017_2022_total
1                           tabasco                              9817020.339
2                            méxico                              9470058.625
3                   baja california                              8076308.449
4               michoacan de ocampo                              6149386.819
5              coahuila de zaragoza                              4510354.157
6                           jalisco                              3135747.827
7                         chihuahua                              2831004.905
8                         zacatecas                              2685519.738
9                        guanajuato                              2293756.801
10  veracruz de ignacio de la llave                              2179773.937

In [6]:
# Agrupar por entidades estados menores generadores de resuidos (columna generacion_estimada_ton_anio) con el método groupby
df_residuos_tox_grouped_menor = df_residuos_tox.groupby('ent_fed').agg({'generacion_estimada_ton_anio': 'sum'}).reset_index()
# Ordenar de menor a mayor
df_residuos_tox_grouped_menor = df_residuos_tox_grouped_menor.sort_values(by='generacion_estimada_ton_anio', ascending=True)
# reindexar el índice desde 1
df_residuos_tox_grouped_menor.index = range(1, len(df_residuos_tox_grouped_menor) + 1)
# Cambiar el nombre de la columna para que sea más descriptivo
df_residuos_tox_grouped_menor.rename(columns={'generacion_estimada_ton_anio': 'generacion_estimada_ton_2017_2022_total'}, inplace=True)
# Mostrar el DataFrame agrupado y ordenado

df_residuos_tox_grouped_menor.to_csv('../data/processed/df_residuos_tox_grouped_menor.csv', index=False)
df_residuos_tox_grouped_menor.head(10)

                ent_fed  generacion_estimada_ton_2017_2022_total
1        aguascalientes                                30416.687
2   baja california sur                                34666.760
3                colima                                35379.927
4               yucatán                                59152.938
5              tlaxcala                                60912.100
6          quintana roo                                69770.652
7              guerrero                                97484.551
8               nayarit                               134859.714
9       san luis potosí                               166581.428
10              chiapas                               221753.864

In [7]:
#Agrupar por entidad y año con el método groupby las entidades con mayor generación de residuos (columna generacion_estimada_ton_anio) con el método groupby
df_residuos_tox_grouped_generacion_anio = df_residuos_tox.groupby(['ent_fed', 'anio']).agg({'generacion_estimada_ton_anio': 'sum'}).reset_index()
# Ordenar de mayor a menor
df_residuos_tox_grouped_generacion_anio = df_residuos_tox_grouped_generacion_anio.sort_values(by='generacion_estimada_ton_anio', ascending=False)
# reindexar el índice desde 1
df_residuos_tox_grouped_generacion_anio.index = range(1, len(df_residuos_tox_grouped_generacion_anio) + 1)
# Cambiar el nombre de la columna para que sea más descriptivo
df_residuos_tox_grouped_generacion_anio.rename(columns={'generacion_estimada_ton_anio': 'generacion_estimada_ton_anio_total'}, inplace=True)
# Guardar el DataFrame agrupado y ordenado en un archivo CSV

df_residuos_tox_grouped_generacion_anio.to_csv('../data/processed/df_residuos_tox_grouped_generacion_anio.csv', index=False)
df_residuos_tox_grouped_generacion_anio.head(20)

                            ent_fed  anio  generacion_estimada_ton_anio_total
1                   baja california  2020                         8075792.273
2                           tabasco  2019                         5875015.744
3               michoacan de ocampo  2019                         5833432.021
4                            méxico  2020                         5642546.938
5              coahuila de zaragoza  2020                         4444554.797
6                            méxico  2019                         3805689.007
7                           jalisco  2020                         3100017.995
8                         zacatecas  2020                         2685408.288
9                         chihuahua  2020                         2619313.929
10                          tabasco  2018                         2516253.350
11                       guanajuato  2020                         2293062.277
12                           puebla  2020                         1768146.654
13                       tamaulipas  2020                         1543710.693
14                 ciudad de méxico  2020                         1492044.008
15                          hidalgo  2020                         1480136.913
16                        querétaro  2020                         1313655.380
17  veracruz de ignacio de la llave  2020                         1297682.108
18                           sonora  2020                          987394.151
19                          tabasco  2020                          970066.075
20  veracruz de ignacio de la llave  2019                          806316.049

In [8]:


#identificar valores nulos y nan en el DataFrame